[package]
name = "fuel-vm"
description = "FuelVM interpreter."
version = "0.1.0"
authors = ["Victor Lopez <victor.lopez@fuel.sh>"]
edition = "2018"
repository = "https://github.com/FuelLabs/fuel-vm"
license = "Apache-2.0"
keywords = ["blockchain", "cryptocurrencies", "fuel-vm", "vm"]
categories = ["concurrency", "cryptography::cryptocurrencies", "emulators"]

[dependencies]
itertools = "0.10"
sha3 = "0.9"
secp256k1 = {version="0.20", features=["recovery"]}
tracing = "0.1"
fuel-asm = {git="ssh://git@github.com/FuelLabs/fuel-asm.git"}
fuel-tx = {git="ssh://git@github.com/FuelLabs/fuel-tx.git"}

[dev-dependencies]
rand = "0.8"

[features]
debug = []
