[workspace]
members = [
    "fuel-asm",
    "fuel-storage",
    "fuel-types",
    "fuel-tx",
    "fuel-types",
    "fuel-vm",
]

# We have a dependency cycle between repositories where `fuel-crypto` depends
# on `fuel-types`, while `fuel-tx` depends on both `fuel-crypto` and
# `fuel-types`. This temporarily works around the issue by forcing all
# instances of `fuel-types` within the graph to point to our local copy.
[patch.crates-io]
fuel-types = { path = "./fuel-types" }
