[package]
name = "fuel-types"
version = "0.3.0"
authors = ["Fuel Labs <contact@fuel.sh>"]
categories = ["cryptography::cryptocurrencies", "data-structures", "parsing"]
edition = "2021"
homepage = "https://fuel.network/"
keywords = ["blockchain", "cryptocurrencies", "fuel-vm", "vm"]
license = "Apache-2.0"
repository = "https://github.com/FuelLabs/fuel-types"
description = "Atomic types of the FuelVM."

[dependencies]
rand = { version = "0.8", default-features = false, optional = true }
serde = { version = "1.0", default-features = false, features = ["derive"], optional = true }
serde-big-array = { version = "0.3.2", default-features = false, optional = true }

[dev-dependencies]
fuel-types = { path = ".", features = ["random"] }
rand = { version = "0.8", default-features = false, features = ["std_rng"] }
serde_json = "1.0.59"

[features]
default = ["std"]
alloc = []
alloc-serde = ["alloc", "serde/alloc", "serde-types-minimal"]
random = ["rand"]
serde-types = ["serde-types-minimal", "serde/default", "std"]
serde-types-minimal = ["serde", "serde-big-array"]
std = ["alloc"]
